{% extends "base.html" %}

{% block title %}О Теории{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
   <div class="container">
      <h1>О Теории риторической структуры</h1>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-12">
      <p>Теория риторической структуры была разработана в 1980-е годы У. Манном и С. Томпсон <a href="http://semanticsarchive.net/Archive/GMyNDBjO/RST%20towards%20a%20functional%20theory%20of%20text%20organization.pdf" target="_blank">[Манн, Томпсон 1988]</a>. В рамках этой теории дискурс представляется в виде древовидной структуры, состоящей из дискурсивных единиц, связанных между собой риторическими отношениями из определенного набора (отношения причины, условия, цели и т.д.).</p>
      <center><img src="{{url_for('static', filename='img/sample_tree.gif')}}" alt="RSTtree" class="img-responsive"/></center>
      <p/>
      <p>Дискурсивные единицы могут быть сколь угодно большими; <b>элементарные дискурсивные единицы (ЭДЕ)</b> – это единицы самого низкого значимого уровня, формально чаще всего представляющие собой клаузы. Каждая ЭДЕ добавляет что-то для реализации коммуникативного намерения говорящего.</p>
      <p><b>Риторические отношения</b>, связывающие дискурсивные единицы, делятся на два типа: одноядерные и многоядерные. Одноядерные отношения соединяют ЭДЕ-ядро (основную смысловую часть предложения) и ЭДЕ-сателлит (дополнительную информацию). Многоядерные отношения – это отношения между двумя равнозначными дискурсивными единицами.</p>
      <p>В Теории риторической структуры Манна и Томпсон выделяются следующие типы отношений:</p>
      <p><b>Одноядерные</b>: Background (фон), Volitional/Non-volitional Cause (причина), Volitional/Non-volitional Effect (следствие), Evidence (обоснование), Condition (условие), Purpose (цель), Concession (уступка), Preparation (подготовка сообщения), Conclusion (вывод), Elaboration (детализация), Antithesis (антитеза), Solutionhood (решение проблемы), Motivation (мотивация), Evaluation (оценка), Attribution (источник информации), Interpretation (интерпретация).</p>
      <p><b>Многоядерные</b>: Contrast (контраст), Restatement (переформулировка), Sequence (последовательность), Joint (конъюнкция), Comparison (сравнение), Same-Unit (одна единица).</p>
      <p>Подробно об этих отношениях см. <a href="http://semanticsarchive.net/Archive/GMyNDBjO/RST%20towards%20a%20functional%20theory%20of%20text%20organization.pdf" target="_blank">[Манн и Томпсон 1988]</a>.</p>
      <p>В рамках проекта по созданию Банка риторических структур использовался классический набор риторических отношений, немного модифицированный для работы с русским языком. Подробное описание принятых изменений и общих принципов разметки см. в <a href="./static/Руководство_по_разметке_текстов_Корпуса_Риторических_Структур.pdf" target="_blank">Инструкции разметчика</a>. </p>
   </div>
</div>
{% endblock %}
