{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h1>Контакты</h1>
        <p>Свяжитесь с нами, если у вас есть вопросы или предложения!</p>
      </div>
    </div>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-6">
          <h2></h2>
          <form method="post" name="contact" action="#" onSubmit="alert('Thank you for your feedback.');">
			<fieldset>
			<legend>Обратная связь</legend>
			<label for="author">Имя:</label><br> <input type="text" id="author" name="author" class="input_field" size="45" required><br>
	
			<label for="email">Email:</label><br> <input type="text" class="input_field" name="email" id="email" size="45" required><br>
												
			<label for="subject">Тема:</label><br> <input type="text" class="input_field" name="subject" id="subject" size="45" value="О Банке РС"><br>			               								
			<label for="messagetext">Сообщение:</label><br> <textarea id="messagetext" name="messagetext" rows="5" cols="47" class="input_field" placeholder="Это поле обязательно" required></textarea><br>
													
			<input type="submit" value="Отправить" id="submit" name="submit" class="btn btn-success">
			</fieldset>
			</form>
        </div>
        <div class="col-md-6">
          <h2>Кто мы</h2>
          <p>Корпус разработан группой студентов Школы Лингвистики НИУ ВШЭ.</p>
		  <li><a href="https://www.wikispaces.com/user/view/sonniki">Софья Никифорова</a></li>
		  <li><a href="https://www.wikispaces.com/user/view/Ira_Pavlova">Ирина Павлова</a></li>
		  <li><a href="https://www.wikispaces.com/user/view/ashelepov">Алексей Шелепов</a></li>
		  <li><a href="https://www.wikispaces.com/user/view/nasedkinav">Александр Наседкин</a></li>
		  <p />
		  <p>Большое спасибо за помощь и поддержку Толдовой С.Ю., Бонч-Осмоловской А.А., Собко С.С., коллективу ИСА РАН</p>
		  <h2>Мы на других платформах</h2>
          <p><a href="https://hsecompling.wikispaces.com/-/M16-18/%D0%91%D0%B0%D0%BD%D0%BA%20%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D1%85%20%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D1%83%D1%80/home">Страница проекта в Wikispaces</a></p>
       </div>
      </div>
{% endblock %}
