{% extends "base.html" %}

{% block title %}Скачать{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
   <div class="container">
      <h1>Корпус риторических структур: скачать</h1>
      <p>Мы поддерживаем любые инициативы по исследованию дискурса в русском языке. Поэтому здесь вы можете свободно скачать исходные и размеченные тексты, составляющие корпус. Пожалуйста, при публикации результатов, полученных с использованием наших материалов, указывайте источник: <br><b style="font-family:times;">Корпус риторических структур русского языка. http://linghub.ru/ru-rstreebank. 2017.</b></p>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-6">
      <center>
         <h2>Исходные тексты</h2>
      </center>
      <center>
         <p>формат .txt</p>
      </center>
      <a href="{{url_for('static', filename='corpus_txt.zip')}}" download>
         <center><img src="{{url_for('static', filename='img/download.png')}}" alt="download_txt" class="img-responsive" id="downloading_raw"/></center>
      </a>
   </div>
   <div class="col-md-6">
      <center>
         <h2>Размеченные тексты</h2>
      </center>
      <center>
         <p>формат .rs3</p>
      </center>
      <a href="{{url_for('static', filename='corpus_rs3.zip')}}" download>
         <center><img src="{{url_for('static', filename='img/download.png')}}" alt="download_rs3" class="img-responsive" id="downloading_annotated"/></center>
      </a>
   </div>
</div>
{% endblock %}
