{% extends "base.html" %}

{% block title %}Риторические отношения{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
   <div class="container">
      <h1>О риторических отношениях</h1>
      <p>Здесь перечислены использующиеся в корпусе риторические отношения. Подробности см. в <a href="{{url_for('static', filename='Search_ru_RSTreebank_Instruction.pdf')}}" target="_blank">Инструкции разметчика</a></p>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-6">
      <p>
      <ul>
         <li style="font-size:140%;"><b>Одноядерные</b></li>
         <p/>
         <ul>
            <li>Attribution (источник информации)</li>
            <li>Background (фон)</li>
            <li>Cause-Effect (причина-следствие)</li>
            <li>Concession (уступка)</li>
            <li>Condition (условие)</li>
            <li>Elaboration (детализация)</li>
            <li>Evidence (обоснование)</li>
            <li>Interpretation-Evaluation (интерпретация-оценка)</li>
            <li>Preparation (подготовка сообщения)</li>
            <li>Purpose (цель)</li>
            <li>Solutionhood (решение проблемы)</li>
         </ul>
      </ul>
      </p>
   </div>
   <div class="col-md-6">
      <p>
      <ul>
         <li style="font-size:140%;"><b>Многоядерные</b></li>
         <p/>
         <ul>
            <li>Comparison (сравнение)</li>
            <li>Contrast (контраст)</li>
            <li>Joint (конъюнкция)</li>
            <li>Restatement (переформулировка)</li>
            <li>Same-Unit (одна единица)</li>
            <li>Sequence (последовательность)</li>
         </ul>
      </ul>
      </p>
      <p></p>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h2>Одноядерные риторические отношения</h2>
      <p style="font-size:130%;">В примерах курсивом выделено ядро.</p>
      <p><b>Attribution (Источник информации).</b> Используется чаще всего для цитирования и передачи чужой речи – прямой или косвенной. Сателлит – источник информации, ядро – содержание передаваемого сообщения. Также Источник маркирует отношения при ментальных глаголах.</p>
      <p><i> [ Ров находился с восточной,  а вовсе,  кстати,  не с южной стороны
         Кремля,]</i> [ как сообщают иностранные дипломаты. ]
      </p>
      <p><b>Background (Фон).</b> В сателлите приводится контекст, фон, исходные данные, с учетом которых должна восприниматься ситуация ядра. Важно, что сателлит НЕ является Причиной ядра.</p>
      <p><i>[ Один из дилеров на рынке строительных материалов, в доверительной беседе говоря об объеме продаваемого товара у других дилеров, называл цифры, заниженные в разы. Одновременно другой дилер, на том же рынке, говоря о тех же объемах продаж, давал прямо противоположную информацию. ]</i> [ При этом один и другой искренне верили в правильность сведений, которыми располагали. ]</p>
      <p><b>Cause-Effect (Причина-следствие).</b> Ситуация сателлита является причиной ситуации ядра. Ядро представляет собой результат действия.</p>
      <p>[ Теперь «Сапсаны» будут ежечасно ходить в Москву и обратно, ] <i>[ что приведет к сокращению числа билетов на поезд «Петербург»-«Москва». ]</i></p>
      <p><b>Concession (Уступка).</b> Ситуация в ядре противоположна ожиданиям, созданным информацией сателлита. Контраст двух ситуаций – в ядре и в сателлите – лишь частичный, и ситуации не взаимоисключающие.</p>
      <p> <i>[ За последние годы научных доказательств получено не было, ]</i> [ хотя медицинские учреждения целенаправленно изучали вероятность взаимосвязи между использованием тимеросал-содержащих вакцин и аутизмом. ]</p>
      <p><b>Condition (Условие).</b> Истинность пропозиции ядра является следствием выполнения условия, названного в сателлите.</p>
      <p> [ Если взять человека на операционный стол и продержать его без операции 2 часа, ] <i>[ то после этого по биохимическим показателям крови его следует срочно направить на лечение в реанимационное отделение. ]</i></p>
      <p><b>Elaboration (Детализация).</b> Сателлит содержит ту же информацию, что и ядро, но информация в сателлите более развернутая и подробная, сателлит добавляет некоторые детали к информации ядра. Возможны следующие варианты: (Ядро: Сателлит), Обобщение: Спецификация, Набор: Составляющая, Абстракция: Пример, Целое: Часть, Процесс: Этап, Объект: Атрибут и т.д.</p>
      <p> <i>[ Когда-то я ввел в обиход термин "коэволюция человека и биосферы" . ]</i> [ Он означает такое поведение человечества и каждого человека в отдельности, которое способно обеспечить совместное развитие биосферы и человечества. ]</p>
      <p><b>Evidence (Обоснование).</b> Ситуация сателлита является доказательством, подтверждением ситуации ядра.</p>
      <p> [ Она все равно сильнее человека и возьмет свое. Биологическая машина планеты просто не даст ее уничтожить. В природе ведь все совершенно! Возьмите хоть муравья или березу. Они — предел совершенства!] <i>[ И потому окружающая нас природа неуничтожима. ]</i></p>
      <p><b>Interpretation-Evaluation (Интерпретация-оценка).</b> Сателлит связывает ядро с некоторым набором представлений, которые могут выводиться из ситуации ядра. В сателлите может содержаться оценка (интерпретация) ситуации, описанной в ядре.</p>
      <p> <i>[ В центре Москвы рабочие укладывают тротуарную плитку прямо поверх асфальта — ]</i> [власти этого города, как всегда,  не думают об удобстве его жителей. ]</p>
      <p><b>Preparation (Подготовка сообщения).</b> В сателлите содержится подготовка дальнейшего материала. В это отношение вступают, например, заголовки к тексту по отношению к самому тексту.</p>
      <p></p>
      <p><b>Purpose (Цель).</b> Ситуация в ядре нужна для реализации ситуации сателлита. Ситуация в сателлите – предполагаемая, она только должна быть достигнута, но еще не достигнута (в отличие от отношения Причина-следствие).</p>
      <p>[ Для нормального функционирования клетки] <i>[ необходимо 38 молекул АТФ. ]</i></p>
      <p><b>Solutionhood (Решение проблемы).</b> В сателлите ставится проблема, а в ядре предлагается ее решение. Проблема может быть сформулирована, например, в вопросе, запросе; могут быть описаны желания, целей; может постулироваться недостаток знаний и др.</p>
      <p>[ Можно ли называть наукой то, что делали врачеватели много веков назад? ] <i>[ Безусловно, ведь они делали это осмысленно, используя определенные знания, практический опыт. ]</i></p>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h2>Многоядерные риторические отношения</h2>
      <p><b>Comparison (Сравнение).</b> Две дискурсивных единицы сравниваются по какому-либо критерию. Отношение может показывать, что некоторые сущности сходны / различны / больше чем / меньше чем и т.д.</p>
      <p>[Без этих лаковых панно интерьер китайского кабинета Петергофа был бы незаконченным,] [как неполной была бы и коллекция Константиновского дворца без портрета своего первого владельца.]</p>
      <p><b>Contrast (Контраст).</b> Ситуации, содержащиеся в дискурсивных единицах, противопоставлены друг другу, контрастируют относительно некоторой заданной темы.</p>
      <p> [ Прививки по-прежнему остаются наиболее эффективной мерой предупреждения эпидемиологических заболеваний во всем мире. ] [ Однако многие родители отказываются вакцинировать своих детей. ]</p>
      <p><b>Joint (Конъюнкция).</b> Отношение представляет собой перечисление дискурсивных единиц, которые при этом не состоят в отношении Сравнения, Контраста и др.</p>
      <p> [ Действительно, первый замглавы ЦБ Олег Вьюгин на днях поделился именно такими планами, правда, по его словам, золотовалютные резервы будут прирастать не евро единым - в них должна увеличиться доля золота и английских фунтов стерлингов. ] [ Аналогичный процесс идет и за пределами России. К примеру, страны, готовящиеся к вступлению в ЕС, уже привязали или привяжут свои национальные валюты к евро. ]</p>
      <p><b>Restatement (Переформулировка).</b> В дискурсивных единицах содержится одна и та же информация, но в разных формулировках. Второй сегмент не добавляет ничего нового и не содержит интерпретации ситуации.</p>
      <p>  [ Выводы Самвела Григоряна о будущем нашей планеты, безусловно, выдают в нем сторонника версии об антропологическом воздействии на природу. ] [ То есть губительная деятельность человечества не вызывает у него сомнений. ]</p>
      <p><b>Same-Unit (Одна единица).</b> В некотором смысле фиктивное отношение, введенное для обозначения прерывающихся дискурсивных единиц, т.е. для тех случаев, когда внутри одной единицы содержится другая, и тем самым нарушается принцип линейности. Чаще всего «прерывающей» единицей являются причастные и деепричастные обороты, определительные придаточные и ссылка на источник при передаче чужой речи.</p>
      <p></p>
      <p><b>Sequence (Последовательность).</b> Последовательность – это список событий, расположенных в хронологическом порядке</p>
      <p>[ Только с 1 сентября 2005 года мы введем предпрофильные 9 классы, ] [ а с 1 сентября 2006 года вся российская школа перейдет на новые стандарты школьного образования, включая профильное обучение в 10 - 11 классах. ]</p>
   </div>
</div>
{% endblock %}
