{% extends "base.html" %}

{% block title %}Поиск{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h1>Поиск по корпусу риторических структур</h1>
        <p>Ищите по слову, словосочетанию, риторическому отношению, маркеру риторического отношения. <br><a href="#">Инструкция по поиску</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
<form class="form-inline">
	<div class="block">
  <label class="sr-only" for="inlineFormInput">Word</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Поиск слова...">
  <div class="form-group">
  <label for="sel1">в</label>
  <select class="selectpicker" data-dropup-auto multiple>
    <option selected>любом РО</option>
    <option>Antithesis</option>
    <option>Attribution</option>
    <option>Background</option>
    <option>Comparison</option>
    <option>Concession</option>
    <option>Conclusion</option>
    <option>Condition</option>
    <option>Contrast</option>
    <option>Elaboration</option>
    <option>Evaluation</option>
    <option>Evidence</option>
    <option>Interpretation</option>
    <option>Joint</option>
    <option>Motivation</option>
    <option>Preparation</option>
    <option>Purpose</option>
    <option>Restatement</option>
    <option>Same-Unit</option>
    <option>Sequence</option>
    <option>Solutionhood</option>
    <option>Volitional/Non-volitional Cause</option>
    <option>Volitional/Non-volitional Effect</option>
  </select>
</div>
  <a href="#" class="add btn btn-primary">add -></a>
  </div>
  <button type="submit" class="submit btn btn-primary">Поиск</button>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
{% endblock %}
